.ob-output,.ob-input {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  border: 0;
  margin: 0;
}

.ob-output {
  z-index: 10;
  white-space: pre;
}

.ob-input {
  z-index: 20;
  color: transparent;
  background-color: transparent;
}
