.ob-js-str {
  color: #183691;
}

.ob-js-rgx {
  color: #183691;
}

.ob-js-bnun {
  color: #0086b3;
}

.ob-js-kw {
  color: #a71d5d;
}

.ob-js-sp {
  color: #ed6a43;
}

.ob-js-fm {
  color: #795da3;
}

.ob-js-com {
  color: #969896;
}